<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> {{config.SITE_NAME}}</h1>
     <!-- formularz dodawania zadania -->
    <form class="add-form" method="POST" action="{{ url_for('index') }}">
      <input name="name" value=""/>
      <input name="surname" value=""/>
      <button type="submit" name="OK">Add data</button>
    </form>

    <!-- informacje o sukcesie lub błędzie -->
    <p>
      {% if error %}
        <strong class="error">Błąd: {{ error }}</strong>
      {% endif %}

      {% for message in get_flashed_messages() %}
        <strong class="success">{{ message }}</strong>
      {% endfor %}
    </p>

    <button onclick="window.location.href='{{ url_for( 'users') }}';">Users list</button>

</body>
</html>