<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="static/style.css">-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <table class="user-table">
    <tr>
        <td class="first-row">Name</td>
        <td class="first-row">Surname</td>
        <td class="first-row">Added</td>
    </tr>
        {% for user in users %}
            <tr>
<!--            <td>{{user.id+1}}</td>-->
                 <td> {{user.name}}</td>
                <td>  {{user.surname}}</td>
                <td>{{user.data_dodania}}</td>

            </tr>

            {% endfor %}
        </table>

        {% if page %}
<!-- Check for the active page and set the link to "Active"-->
           {{ page}}
        {% endif %}

    <button class = button onclick="window.location.href='{{ url_for( 'users') }}';">Previous</button>
    <button class = button onclick="window.location.href='{{ url_for( 'users_pages', page=0) }}';">Next</button>
    <button class="button" onclick="window.location.href='{{ url_for( 'index') }}';">Add user</button>

</body>
</html>