<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <table class="user-table">
    <tr>
        <td class="first-row">Name</td>
        <td class="first-row">Surname</td>
        <td class="first-row">Added</td>
    </tr>
        {% for user in users %}
            <tr>
<!--                        <td>{{user.id+1}}</td>-->
                 <td> {{user.name}}</td>
                <td>  {{user.surname}}</td>
                <td>{{user.data_dodania}}</td>

            </tr>

            {% endfor %}
        </table>
    <p><a href="{{url_for('index')}}">Add user</a></p>

</body>
</html>